* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
     /* 16px = 100% => 62.5% = 10px = 1 rem */
}
:root {
    --color-main: #224957;
}
/* HEADER */
.navbar {
    flex-direction: row;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.navbar-nav {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.navleft {
    display: flex;
    align-items: center;
}
a > h3 {
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-main);
}
li > form {
    position: relative;
}
#searchid {
    position: absolute;
    left: 5%;
}
#textid {
    padding-left:  2rem;
}
.button {
    background-color: var(--color-main);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 300;
    cursor: pointer;
}
.button:hover {
    background-color: #1a2e42;
}
/* FOOTER */
.footer li {
    list-style: none;
}
.footer__under-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer__under-right > li > img {
    width: 1.5rem;
}
.footer__under-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer__under {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    border-top: thin solid #000;
}
.footer__above {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}
.footer__above-subscribe form > input {
    width: auto;
    flex-direction: row;
}
.input-group > input {
    border: #224957 1px solid;
}
.button-surscribe {
    background-color: var(--color-main);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-weight: 300;
}
/* MAIN */
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 15%;
}
.content-header-image {
    overflow: hidden; 
}
.content-header-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.container-fluid{
    padding: 0 !important;
}
.container-fluid .row
{
    max-width: 1222.5px;
    margin: 5vh auto;
}
.container-fluid .row .picture{
    border: 2px dashed white;
    margin-bottom: 5%;
    padding: 2rem;
}
.container-fluid .row .picture:hover{
    border: 2px dashed gray;
}
.container-fluid .row .picture img{
    margin:10px 0;
    width: 100%;
    max-width: 277px ;
    max-height: 277px;
}
.container-fluid .row .picture:hover img{
    transform: scale(1.15,1.15);
}
.picture a{
    text-decoration: none;
}
.name-watch{
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 1em;
    display: -webkit-box; /* định dạng tên theo kiểu box */
    overflow: hidden;
    text-overflow: ellipsis; /* dấu 3 chấm khi quá dài*/
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical; 
}
.name-watch:hover{
    color: gold;
}
.price{
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: bold;
}
.name {
    height: 100px;
    width: 70%;
    margin: auto;
    padding-top: 3vh;
}
.name-product {
    font-size: 2.5rem;
    font-weight: 650;
    color: #224957;
}
/* REPONSIVE */
/* ẩn dropdown */
.dropdown {
    display: none;
}
/* Reponsive khi width < 768px */
@media (max-width: 1200px) {
    /* header */
    .navright {
        display: none;
    }
    .searchform {
        display: none;
    }
    .dropdown {
        display: block;
        /* background-color: #224957; */
    }

    /* main */
    .content-header {
        flex-direction: column;
        margin: auto 0;
    }
    .content-header-image {
        background-size: cover;
    }
    /* footer */
    .footer__above, .footer__under {
        flex-direction: column;
    }
}
